.notice {
    border-radius: var(--admin-radius);
    border-width: 0 !important;


    &.is-dismissible {}

    &.updated {
        color: var(--admin-success);
        background-color: hsla(from var(--admin-success) h calc(s - 75) calc(l + 35));
    }

    &.update-message {}


    &.inline {}

    &.notice-alt {}


    // varaints
    &.notice-warning {
        color: var(--admin-warning);
        background-color: hsla(from var(--admin-warning) h calc(s - 75) calc(l + 35));
    }

    &.notice-success {
        color: var(--admin-success);
        background-color: hsla(from var(--admin-success) h calc(s - 75) calc(l + 35));
    }

    &.notice-info {
        color: var(--admin-info);
        background-color: hsla(from var(--admin-info) h calc(s - 75) calc(l + 35));
    }

    &.notice-error {
        color: var(--admin-danger);
        background-color: hsla(from var(--admin-danger) h calc(s - 75) calc(l + 35));
    }

    // plugins page warning 
    &.update-message.notice-warning {
        background-color: white;
        border: 0;
        font-size: 12px !important;
    }
}