.notice {
    border-radius: var(--admin-radius);
    border-width: 0 !important;
    background-color: #fff;

    &.is-dismissible {}

    &.update-message {}


    &.inline {}

    &.notice-alt {}

    &.updated {
        color: var(--admin-success);
        background-color: var(--admin-success-bg);
    }

    // varaints 
    &.notice-success {
        color: var(--admin-success);
        background-color: var(--admin-success-bg);
    }

    &.notice-warning {
        color: var(--admin-warning);
        background-color: var(--admin-warning--bg);
    }

    &.notice-info {
        color: var(--admin-info);
        background-color: var(--admin-info-bg);
    }

    &.notice-error {
        color: var(--admin-danger);
        background-color: var(--admin-danger-bg);
    }

    // plugins page warning 
    &.update-message.notice-warning {
        background-color: white;
        border: 0;
        font-size: 12px !important;
    }
}