#adminmenuback {
    width: var(--admin-aside-width);
    background-color: transparent;
}

#adminmenuwrap {
    width: var(--admin-aside-width);
    background-color: var(--admin-aside-bg-clr);
    overflow-y: unset !important;
}

// folded 
.folded {
    #adminmenuwrap {
        width: var(--admin-aside-width-folded);
    }

    #adminmenu {
        width: auto;
        padding: var(--admin-padding-sm);
    }

    #wpcontent,
    #wpfooter {
        margin-left: var(--admin-aside-width-folded);
    }

    #adminmenu li.menu-top {
        width: auto;
    }
}

.auto-fold.folded {

    #wpcontent,
    #wpfooter {
        margin-left: calc(var(--admin-aside-width-folded) + 0px);
    }
}

.wp-submenu-head {
    color: var(--admin-dark-clr) !important;
}

/* admin sidebar  */
#adminmenu {
    width: auto;
    background-color: var(--admin-aside-bg-clr);
    padding: var(--admin-padding) !important;

    a {
        color: var(--admin-dark-clr) !important;
        border-radius: var(--admin-radius-md);

        &:hover,
        &:focus {
            box-shadow: none;
        }

        &.wp-has-current-submenu:after {
            content: none;
            display: none;
        }

        .wp-not-current-submenu .wp-submenu,
        .folded #adminmenu .wp-has-current-submenu .wp-submenu {
            // min-width: var(--admin-aside-width); 
        }
    }

    // menu list item
    li {

        // menu list item separator
        &.wp-menu-separator {
            height: 0;
            margin: 0;
        }

        // menu list item top
        &.menu-top {
            margin-bottom: 2px !important;
            border-radius: var(--admin-radius-md);

            &:hover {
                background-color: var(--admin-aside-bg-clr-light-2);

                .dashicons-before {

                    &:before {
                        color: var(--admin-primary-dark-1) !important;
                    }
                }

                .wp-menu-image.svg {
                    filter: invert(1);
                }
            }

            // menu list link
            a.menu-top {
                overflow: hidden;
                border-radius: var(--admin-radius-md);
                background-color: transparent;

                &:hover,
                &:focus,
                &:active {
                    color: var(--admin-dark-clr);
                    background-color: var(--admin-aside-bg-clr-light-2);
                }

                a.wp-has-current-submenu {
                    color: var(--admin-dark-clr);
                }

                // icon  
                .dashicons,
                .dashicons-before {

                    &:before {
                        font-size: 18px;
                        color: rgb(7 19 31 / 60%);
                        // color: var(--admin-primary);

                        // filter: invert(1);
                    }
                }

                .wp-menu-image.svg {
                    filter: invert(1);
                }
            }

            // sub menu opened 
            &.opensub {
                a.menu-top {
                    color: var(--admin-dark-clr);
                    background-color: var(--admin-aside-bg-clr-light-2);

                    .wp-menu-image:before {
                        // color: var(--admin-dark-clr);
                    }
                }
            }

            // current menu item
            &.wp-has-current-submenu {
                a.wp-has-current-submenu {
                    color: var(--admin-dark-clr);
                }
            }


            // sub menu styles
            .wp-submenu {
                // width: 100%;
                overflow: hidden;
                border-radius: var(--admin-radius-md);
                color: var(--admin-dark-clr);
                background-color: var(--admin-aside-bg-clr-light-1);


                li {
                    &.current a {

                        &:hover,
                        &:focus,
                        &:active {
                            color: var(--admin-primary) !important;
                        }
                    }

                    a {

                        &:hover,
                        &:focus,
                        &:active {
                            color: var(--admin-primary) !important;
                        }
                    }
                }
            }
        }

        // menu list item top OPENED
        &.wp-menu-open {
            border-radius: var(--admin-radius-md);
            background-color: var(--admin-aside-bg-clr-light-2);

            ul.wp-submenu.wp-submenu-wrap li a::before {
                content: "─ ";
            }
        }
    }

    // sub menu - active menu
    .wp-submenu {
        left: var(--admin-aside-width);

        a {
            color: var(--admin-dark-clr) !important;
        }

        a:hover,
        li.current a {
            color: var(--admin-primary-dark-1) !important;
        }

        &.wp-submenu-wrap {
            width: 100%;
        }
    }

    // inner-hover sub menu 
    li.menu-top.opensub .wp-submenu {
        width: auto;
    }


    li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
        border-right-color: transparent;
    }

    li.wp-not-current-submenu.wp-has-submenu {
        .wp-menu-image:before {
            // color: var(--admin-dark-clr);
        }

        &.opensub:hover:after {
            border-right-color: var(--admin-aside-bg-clr-light-2);
        }
    }
}


#collapse-button {
    color: var(--admin-dark-clr-light-2);

    &:hover,
    &:focus,
    &:active {
        color: var(--admin-primary-dark-1);
    }
}