.wp-core-ui {
    .button {
        overflow: hidden !important;
        font-weight: 600;
        background-color: var(--admin-bg-main);
        border-radius: var(--admin-radius-md) !important;

        &.button-primary {
            background-color: var(--admin-dark-clr-shade-1);
            background: var(--admin-dark-clr-shade-1) !important;
            border-color: var(--admin-dark-clr-tint-1) !important;
            color: #fff !important;

            &:hover,
            &:focus,
            &:active {
                background: var(--admin-dark-clr);
                border-color: var(--admin-dark-clr);
            }
        }

        &.button-primary[disabled],
        &.button-primary-disabled {
            background-color: var(--admin-primary-light-1);
        }

        &.activate {
            color: var(--admin-dark-clr);
            background-color: var(--admin-primary-light-2);

            &:hover,
            &:focus,
            &:active {
                background-color: var(--admin-primary-light-1) !important;
            }
        }

        &.button-secondary {
            color: var(--admin-dark-clr) !important;
            background-color: var(--admin-primary-light-2) !important;

            &:hover,
            &:focus,
            &:active {
                background-color: var(--admin-primary-light-1) !important;
            }
        }

        &.button-link,
        &.button-link-delete {
            background-color: transparent;
            border-radius: var(--admin-radius-md);

            &:hover,
            &:focus,
            &:active {
                background-color: var(--admin-bg-main);
            }
        }

        // sizes
        &.button-large {
            border-radius: var(--admin-radius-md);
        }

        &.button-small {
            border-radius: var(--admin-radius-sm);
        }

        &.preview {}

        &.tagadd {}

        &.show-settings {
            border-radius: 0 0 var(--admin-radius-sm) var(--admin-radius-sm);
        }

        // theme activate btn 
        &.activate {
            background-color: var(--admin-bg-main);
        }
    }

}


.nav-tab {
    background-color: var(--admin-bg-main);
    border-radius: var(--admin-radius-sm);

    &.nav-tab-active {
        background-color: var(--admin-primary-light-1);
    }

    &:hover,
    &:focus,
    &:active {
        background-color: var(--admin-primary-light-1);
    }
}