.card {
    @include card;
}

// welcome screen  

// screen options 
#screen-meta {
    border-radius: 0 0 var(--admin-radius) var(--admin-radius);
    overflow: hidden;
}


#misc-publishing-actions .misc-pub-section {
    border-bottom: 1px solid #e5e5e5;
}

#major-publishing-actions {
    background-color: var(--admin-bg-main-light-1);
}