#wpcontent,
#wpfooter {
    margin-left: var(--admin-aside-width);
}

/* admin cards */
.postbox {
    @include card;

    .postbox-header {
        border-bottom-color: var(--admin-border-color-light-1);
    }

}

/* post title */
#titlewrap input {
    @include card;
}

hr.wp-header-end {
    visibility: visible;
    margin: 0;
    padding-top: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #cdcdcd;
}