// plugins 
.plugin-card,
.plugin-install-php .wp-filter {
    @include card;
}

.plugin-card {
    border-width: 2px;

    &:has(.compatibility-untested) {
        border-color: var(--admin-warning-dark-1);
    }

    .desc.column-description {
        p:first-child {
            display: none;
        }
    }

    .plugin-icon {
        width: 75px;
        height: 75px;
    }

    .plugin-card-top {
        min-height: 85px;
    }

    .desc>p,
    .name {
        margin-left: 95px;
    }

    .plugin-card-bottom {
        background-color: var(--admin-bg-main-light-1);
    }

    .star {
        &.star-full {}

        &.star-half {}
    }
}

.wp-filter {
    margin-bottom: 20px !important;

    &+p {
        /* display: none; */
        opacity: 0;
        margin: 0px;
    }
}

.column-compatibility:has(.compatibility-untested)::after {
    content: "❌ Untested";
}

.column-compatibility .compatibility-untested {
    display: none;
}

.column-compatibility:has(.compatibility-compatible)::after {
    content: "✓ Compatible";
    color: green;
}

.column-compatibility .compatibility-compatible {
    display: none;
}

.upload-plugin {
    padding: 0;
}

.filter-links {
    // background-color: var(--admin-aside-bg-clr);
    // border-radius: var(--admin-radius-sm);
    padding: 5px 0px;

    li {
        &>a {
            border: 1px solid var(--admin-border-color) !important;
            border-radius: var(--admin-radius-sm);
            margin: 5px 5px 5px 0;
            padding: 5px 10px;
            background-color: var(--admin-aside-bg-clr);

            &[aria-current=page] {
                box-shadow: var(--admin-btn-shadow);
                background-color: var(--admin-aside-bg-clr-light-2);
            }
        }
    }
}

#file-upload-button,
#pluginzip {
    font-style: italic;

    &::file-selector-button

    /* &::-ms-browse, */
    /* &::-webkit-file-upload-button, */
        {
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: var(--admin-radius-sm);
        background-color: var(--admin-primary);

        &:hover,
        &:focus,
        &:active {
            background-color: var(--admin-primary-dark-1);
        }
    }
}


#drag-drop-area {
    height: auto !important;
    padding: 50px !important;

    .drag-drop-inside {
        margin: 0 !important;
        width: 100% !important;
    }

    #plupload-browse-button {
        font-style: italic;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: var(--admin-radius-sm);
        background-color: var(--admin-primary);

        &:hover,
        &:focus,
        &:active {
            background-color: var(--admin-primary-dark-1);
        }
    }
}


// plugin listing
table {
    border-collapse: separate;
    border-spacing: 0px 0px !important;
    // padding: 15px;

    table {
        tr {
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
            border-radius: var(--admin-radius) !important;
            /* background: #d63638 !important; */
        }
    }

    .plugin-update-tr.active td,
    .plugins .active th.check-column {
        border-width: 0 !important;
    }

    &.plugins {
        .active {
            th.check-column {
                border-left: 0 !important;
            }
        }

        .second {
            font-style: italic;
            font-weight: 400;

            a {
                font-style: italic;
                font-weight: 400;
                // color: var(--admin-dark-clr);
                // text-decoration: none;
            }
        }
    }
}


.popular-tags {
    @include card;
    border: none;
    line-height: 1;
    padding: 8px 12px 12px;
    text-align: justify;
    display: flex;
    gap: 10px 5px;
    flex-wrap: wrap;

    a {
        font-size: 12px !important;
        text-decoration: none;
        padding: 5px 15px;
        border-radius: var(--admin-radius);
        color: #fff;
        background: var(--admin-primary);

        &:hover,
        &:focus,
        &:active {
            background-color: var(--admin-primary-dark-1);
        }
    }
}


.notification-dialog {
    @include card;
}