table.wp-list-table {

  /* Parent category: folder style */
  tr.level-0 td.name a.row-title::before {
    content: "📁 ";
  }

  /* Children: file style */
  tr.level-1 td.name a.row-title {
    padding-left: 30px;
  }

  tr.level-1 td.name a.row-title::before {
    content: "📄 ";
    margin-left: -20px;
  }

}