// themes
.theme {
    &.active {
        border-radius: var(--admin-radius);
    }

    &.add-new-theme {
        a:after {
            background-color: var(--admin-aside-bg-clr);
        }
    }
}

.theme-overlay {
    .theme-backdrop {
        // left: var(--admin-aside-width-folded);
    }

    .theme-screenshots {
        width: 30%;
    }

    .theme-wrap {
        left: calc(var(--admin-aside-width) + 24px) !important;
        overflow: hidden;
        border-radius: var(--admin-radius);
        bottom: fluid-value(25px, 150px);
    }
}

.auto-fold,
.folded {
    .theme-overlay {

        .theme-wrap {
            left: calc(var(--admin-aside-width-folded) + 24px);
        }
    }
}

.theme-browser {
    .themes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1rem;


        .theme {
            overflow: hidden;
            border-radius: var(--admin-radius);
            margin: 0;
            width: 100%;
            border-width: 2px;

            &.active {
                border-color: var(--admin-primary);
            }
        }
    }

    .parent-theme {
        border-radius: var(--admin-radius);
    }
}